<div th:switch="${maps}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="map : ${maps}">
                <td th:text="${map.mapname}"></td>
                <td><a th:href="@{/edit/{id}(id=${map.id})}">Edit</a></td>
                <td><a th:href="@{/delete/{id}(id=${map.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/">Add a new user</a></p>
</div>
